<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376792287842-jpq23ega35dlnobveb7leseu3692jlvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376792287842-jpq23ega35dlnobveb7leseu3692jlvd</string>
	<key>API_KEY</key>
	<string>AIzaSyCAul47Z8qJb21FTklvjwa8ZnF2qofx-Rk</string>
	<key>GCM_SENDER_ID</key>
	<string>376792287842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreyulanov.Auth</string>
	<key>PROJECT_ID</key>
	<string>auth-5fe29</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-5fe29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376792287842:ios:4e297a70fb5902c8885f3b</string>
</dict>
</plist>